<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%#= event.start_time.strftime("%B %d, %Y %I:%M %p") %>
  </p>

  <p>
    <strong>End time:</strong>
    <%#= event.end_time.strftime("%B %d, %Y %I:%M %p") %>
  </p>

</div>
